@charset "utf-8";

/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nunito', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
    display: block;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400;
}
span {
    display: block;
}
body{
    font-family: 'SUIT', sans-serif;
    color: #111;
}
html, body {
    width: 100%;
    height: 100%;
}
div.container {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    padding: 30px 0;
}

.inbox {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


/*  영역 타이틀 */
h2.sec-tit {
    text-align: center;
    margin-bottom: 80px;
}
h2 .title-en {
    color: #999;
    text-transform: uppercase;
    font-size: 18px;
}
h2 .title-ko {
    font-size: 32px;
}

/* 버튼 공통 */
.btn {
    width: 180px;
    border: 1px solid #111;
    padding: 12px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #111;
    text-align: center;
}
.btn:hover {
    border-color: #fff;
    color: #fff;
    background-color: #111;
}




/*******************************************************/
article.intro {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

    position: relative;

    /* outline: 1px solid red; */
}
article.intro .title {
    width: 50%;
    height: 100%;
    padding-left: 5%;
    box-sizing: border-box;
    background-color: #fff;
}
article.intro .title::after {
    content: "";
    display: block;
    clear: both;
}
article.intro .title h1 {
    font-size: 3.2rem;
    padding-top: 100px;
    margin-bottom: 150px;
}
article.intro .title h1 span:first-child {
    
} 
article.intro .title h1 span:last-child {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Crimson Pro", serif;
}
article.intro .title .producer {
    position: absolute;
    bottom: 20%;
}
article.intro .title .producer p {
    margin-bottom: 6px;
    font-size: 18px;
    
}
article.intro .title .producer p:first-child {
    letter-spacing: 1px;
}

article.intro .title p span {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    color: #999;
}
article.intro .img-box {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    border: 10px solid #111;
    margin-right: 50px;

    position: absolute;
    right: 0;
    top: 0;
    
    
}
article.intro .img-box img {
    width: 100%;
    display: block;
}


article.introduce {
    /*height: 400px;*/
    background-color: #111;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    box-sizing: border-box;
    /* background-image: url(img/bg.png); */
    /* background-repeat: repeat-x; */
    /* background-size: auto 100%; */
    padding: 150px 5% 120px;
    margin-bottom: 100px;
}

article.introduce .text-box {

}
article.introduce .text-box h2 {
    font-size: 48px;
    font-size: 3rem;
    font-family: "Crimson Pro", serif;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
}
article.introduce .text-box p {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.9);
}
article.introduce .text-box .btn {
    margin-bottom: 60px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
}
article.introduce .text-box .btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #111;
    
}

article.sitemap {
    margin-bottom: 160px;
}
article.sitemap .mapbox {
    border: 1px solid #111;
}
article.sitemap .mapbox img {
    width: 100%;
}

article.layout {
    margin-bottom: 160px;
}
article.layout h2.sec-tit {
    margin-bottom:50px;
}
article.layout .content-box {
    background-image: url(img/bg_horizontal.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    padding: 60px 0;
}
article.layout .content-box .btngroup {
    padding-left: 5%;
    float: left;
    margin-top: 50px;
}
article.layout .content-box .btngroup a {
    margin-bottom: 14px;
}
article.layout .content-box .img-box {
    width: 45%;
    float: right;
    margin-right: 10%;
    border: 1px solid #111;
}
article.layout .content-box .img-box img {
    width: 100%;
    display: block;
}


article.design {
    margin-bottom: 160px;
}
article.design .content-box {
    text-align: center;
}
article.design .content-box .btngroup {
    margin-bottom: 120px;
}
article.design .content-box .btngroup a {
    display: inline-block;
}
article.design .content-box .btngroup a~a {
    margin-left: 12px;
}

article.design .content-box .img-box {
    width: 100%;
}
article.design .content-box .img-box img {
    width: 100%;
    display: block;
}

article.website {
    margin-bottom: 160px;
}
article.website .sec-tit .title-en2 {
    font-family: "Crimson Pro", serif;
    font-size: 3rem;
    font-weight: 600;
}
article.website .btn {
    margin: 0 auto;
}
article.website .btn:hover {
    background-color: #111;
    border-color: #111;
    color: #fff;
}

footer {
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
}
footer .name {
    margin-bottom: 20px;
}
footer .name span:first-child {
    font-weight: 100;
    margin-bottom: 5px;
}
footer .name span:last-child {
    font-size: 22px;
    font-weight: 100;
}
footer p {
    display: inline-block;
    margin-right: 20px; 
    color: #ccc;
}
footer p b {
    margin-right: 6px;
}





